.container .title{
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.title .query-text{
    color: #f7D354;
}

.movies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;

}

.movies-container div{
    width: 30%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #111;
    padding: 1rem;
    border-radius: 25px;
    transition: 0.5s ease-in-out;
    
}

.movies-container div{
    width: 22%;
    color: #fff;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #111;
    padding: 1rem;
    border-radius: 25px;
    transition: 0.5s ease-in-out;
    
}

.movies-container div:hover{
    transform: scale(105%);
}

.movies-container div img{
    max-width: 100%;
    border-radius: 25px;
}

.movies-container div img,
.movies-container div h2,
.movies-container div p{
    margin-bottom: 1rem;
}

.movies-container div svg{
    color: #f7D354;
}

.movies-container div a{
    background-color: #00934F;
    border: 2px solid #00934F;
    border-radius: 4px;
    color: #000;
    padding: 1rem 0.5rem;
    align-items: center;
    transition: 0.4s ease-in-out;
    font-weight: bold;
}

/* .movies-container div a:hover{
    color:  #fff;
} */