@media (max-width: 1000px) {
    .movies-container div {
        width: 25%;
        border-radius: 20px;
    }
}

@media (max-width: 810px) {
    .movies-container div {
        width: 40%;
        border-radius: 20px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
}

    @media (max-width: 550px) {
        .movies-container div {
            width: 70%;
        }
    }

    @media (max-width: 410px) {
        .movies-container div {
            width: 90%;
        }
    }

    @media (max-width: 300px) {
        .container .title{
            font-size: 1.6rem;
        }
    }

