@media (max-width: 1000px) {
    .movies-container div {
        width: 25%;
        border-radius: 20px;
    }
}

@media (max-width: 810px) {
    .movies-container div {
        width: 40%;
        border-radius: 20px;
        margin: 0 auto;
        margin-bottom: 2rem;

    }

    @media (max-width: 550px) {
        .movies-container div {
            display: flex;
            width: 70%;
            border-radius: 20px;
            justify-content: center;
            align-content: center;
            background-color: red;
            text-align: center;

        }
    }

}