*{
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background: rgb(235,0,0);
background: linear-gradient(85deg, rgba(235,0,0,1) 0%, rgba(0,0,0,1) 36%, rgba(0,0,0,1) 67%, rgba(0,162,229,1) 100%);
    color: #fff;
}

a{
    text-decoration: none;
    color: #F7D354;
    transition: 0.5s;
}
a:hover{
    color: #b8930c;
}